.hero {
    display: flex;
    justify-content: center;
    max-width: none !important;
    position: relative;
    color: white;
    margin-bottom: 2rem;

    .content {
        padding: 12rem 7rem;
        max-width: 1440px;
        align-items: center;
    }

    .text {
        grid-column: span 5;
    }

    .background {
        position: absolute;
        top: -2rem;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .graphics {
        width: 100%;
        grid-column-start: 6;
        grid-column-end: 13;
    }

    h1 {
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0;
    }

    p {
        font-size: 0.875rem;
        line-height: 160%;
        margin: 1.4rem 0 0;
    }

    .contact {
        padding: 0.65rem 1.6rem;
        font-size: 0.85rem;
        border-radius: .5rem;
        background-color: #2960F7;
        color: white;
    }
}

.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;

    h1 {
        color: #202039;
        font-size: 1.5625rem;
        font-weight: 600;
        margin: 0 0 3.5rem;
    }

    .step-by-step {
        align-items: center;

        .container {
            grid-column-start: 4;
            grid-column-end: 10;
        }
    }

    .item {
        display: flex;
        margin-bottom: 0.3rem;

        .graphics {
            display: flex;
            flex-direction: column;
            align-items: center;

            .circle {
                width: 1.7rem;
                height: 1.7rem;
                background-color: white;
                border: 8px solid #CBCBE3;
                border-radius: 100%;
            }
        
            .line {
                width: 0.1875rem;
                height: 5.25rem;
                background: #CBCBE3;
                border-radius: 10px;
                margin-top: 0.3rem;
            }
        }

        .text {
            margin-left: 1.3rem;
            padding-top: 0.3rem;

            h3 {
                color: #202039;
                font-size: 1rem;
                font-weight: 500;
                margin: 0;
            }

            p {
                color: #4E4E65;
                font-size: 0.85rem;
                font-weight: 500;
                line-height: 1.3rem;
            }
        }

        &:first-of-type .circle {
            border-color: #202039;
        }

        &:last-of-type .circle {
            border-color: #2960F7;
        }
    }
}

.team {
    margin-bottom: 10rem;

    h1 {
        color: #202039;
        font-size: 1.5625rem;
        font-weight: 600;
        margin: 0 0 1.5rem;
        text-align: center;
        grid-column: span 12;
    }

    p {
        color: #4E4E65;
        text-align: center;
        font-size: 0.875rem;
        line-height: 1.4375rem;
        grid-column-start: 3;
        grid-column-end: 11;
        margin: 0;
    }

    .people {
        grid-column: span 12;
        margin-top: 3.5rem;

        .person {
            grid-column: span 3;

            & > img {
                width: 100%;
                aspect-ratio: 1 / 1;
                border-radius: 0.5rem;
            }

            .info {
                display: flex;
                justify-content: space-between;
                margin-top: 1.7rem;

                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }

                h3 {
                    color: #202039;
                    font-size: 1.125rem;
                    font-weight: 500;
                    line-height: 1.3125rem;
                    margin: 0 0 0.5rem;
                }

                p {
                    color: #4E4E65;
                    font-size: 0.9375rem;
                    font-weight: 500;
                    line-height: 1.125rem;
                }
            }

            .linkedin {
                width: 1.7rem;
                height: 1.7rem;

                &:hover {
                    transition: 100ms;
                    transform: scale(1.08);
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
        }
    }
}

.specialise {
    align-items: center;

    .text {
        grid-column: span 3;

        h1 {
            color: #202039;
            font-size: 1.55rem;
            font-weight: 600;
            margin: 0;
        }

        p {
            font-size: 0.85rem;
            color: #4E4E65;
            line-height: 150%;
            margin: 1.5rem 0 0;
        }
    }

    .pair {
        display: flex;
        flex-direction: column;
        grid-column: span 3;
        gap: 2rem;
    }

    .item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0.95rem 1.7rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.625rem;

        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: cover;
        }

        h3 {
            color: #4E4E65;
            font-size: 0.85rem;
            font-weight: 500;
            margin: 0 0 0 1.1rem;
        }
    }
}

.facts {
    .item {
        grid-column: span 3;
    }

    .title {
        position: relative;

        h1 {
            color: #2960F7;
            font-size: 1.5625rem;
            font-weight: 700;
            margin: 0;
            text-transform: uppercase;
        }

        h2 {
            position: absolute;
            bottom: 0;
            left: 0;
            color: rgba(8, 7, 95, 0.10);
            font-size: 2.1875rem;
            font-weight: 700;
            margin: 0;
            text-transform: uppercase;
        }
    }

    p {
        color: #4E4E65;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.3125rem;
        margin-bottom: 0;
    }

    b {
        font-weight: 500;
    }
}

.vision {
    margin-bottom: 9.5rem;

    h1 {
        color: #202039;
        font-size: 1.55rem;
        font-weight: 600;
        margin: 0;
        grid-column: span 2;
    }

    p {
        grid-column: span 3;
        color: #4E4E65;
        font-size: 0.875rem;
        line-height: 1.3125rem;
        margin: 0;

        &:first-of-type {
            font-weight: 500;
        }

        &:last-of-type {
            grid-column: span 4;
        }
    }
}

hr {
    width: 100%;
    max-width: 1440px;
    background: #CBCBE3;
    margin: 5rem 0;
}