@import './breakpoints.scss';

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    background-color: #141424;

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1440px;
        padding: 0 1.5rem;

        @include breakpoint(lg) {
            padding: 0;
            display: grid;
        }
    }

    hr {
        width: 100%;
        border: 1px solid #41475F;
        margin: 0;
    }

    .text {
        grid-column-start: 1;
        grid-column-end: 6;
        color: white;

        h4 {
            font-size: 1.05rem;
            font-weight: 400;
            margin-top: 0;
        }

        p {
            font-size: 1.55rem;
            font-weight: 500;
            line-height: 140%;
            margin-bottom: 0;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 6rem 0 5.5rem;
        text-align: center;

        @include breakpoint(lg) {
            display: grid;
            text-align: start;
        }
    }

    form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1.9rem;
        column-gap: 0.95rem;
        grid-column-start: 7;
        grid-column-end: 13;
        margin-top: 4.4rem;

        @include breakpoint(lg) {
            margin-top: 0;
            justify-content: space-between
        }

        input {
            width: 48%;
            background: none;
            border: none;
            border-bottom: 1px solid white;
            padding: 0.55rem 0.7rem;
            font-size: 0.95rem;
            caret-color: white;
            color: white;

            &[type="submit"] {
                width: auto;
                padding: 0.9rem 3.4rem;
                font-size: 0.95rem;
                border-radius: .35rem;
                background-color: #2960F7;
                color: white;
                border: none;
                margin-top: 1.5rem;

                &:hover {
                    cursor: pointer;
                    transition: 100ms;
                    transform: scale(1.08);
                }
            }

            &:focus {
                outline: none;
            }

            &:nth-of-type(3) {
                width: 100%;
            }

            &:hover::placeholder {
                font-size: 1.05rem;
                transition: 200ms;
            }

            &::placeholder {
                color: #41475F;
                font-size: 0.95rem;
                font-weight: 400;
            }
        }
    }

    .branding {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.5rem 0;

        @include breakpoint(lg) {
            justify-content: space-between;
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;

            @include breakpoint(lg) {
                justify-content: start;
            }
    
    
            .circle {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 2.5rem;
                height: 2.5rem;
                background-color: #2960F7;
                border-radius: 100%;
    
                .inner {
                    margin-right: 0.3rem;
                    width: 0.95rem;
                    height: 0.95rem;
                    background-color: white;
                    border-radius: 100%;
                }
            }
    
            p {
                font-size: 1.05rem;
                font-weight: 500;
                margin: 0 0 0 0.8rem;
                color: white;
            }
        }

        .copyright {
            display: flex;
            align-items: center;
            font-size: 0.75rem;
            color: #787E8D;

            div {
                margin: 0 0.65rem;
                height: 3px;
                width: 3px;
                background-color: #787E8D;
                border-radius: 100%;
            }

            & * {
                margin: 0;
            }
        }
        
        .links {
            display: none;

            @include breakpoint(lg) {
                display: flex;
            }

            .block {
                margin-left: 4rem;
            }

            h3 {
                font-weight: 600;
                font-size: 1.05rem;
                color: white;
                margin: 0 0 1.25rem;
            }

            a {
                font-size: 0.8rem;
                display: block;
                color: #787E8D;
                margin-bottom: 0.75rem;
            }
        }
    }
}