@import './breakpoints.scss';

html {
    font-size: 14px;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
        width: 100%;
        max-width: 1440px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.grid {
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(6, 1fr);

    @include breakpoint(lg) {
        column-gap: 20px;
        grid-template-columns: repeat(12, 1fr);
    }
}

@include breakpoint(xxl) {
    html {
      font-size: 110%;
    }
}