@import './breakpoints.scss';

nav {
    width: 100%;
    background-color: white;
    padding: 0 1.5rem;
    position: fixed;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
    z-index: 100;

    @include breakpoint(lg) {
        padding: 0;
    }

    .container {
        margin: 0 auto;
        max-width: 1440px;
        width: 100%;
        padding: 0.6rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 100;
        background: white;
    }

    .logo {
        display: flex;
        align-items: center;

        .circle {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 2.5rem;
            height: 2.5rem;
            background-color: #2960F7;
            border-radius: 100%;

            .inner {
                margin-right: 0.3rem;
                width: 0.95rem;
                height: 0.95rem;
                background-color: white;
                border-radius: 100%;
            }
        }

        p {
            font-size: 1.05rem;
            font-weight: 500;
            margin: 0 0 0 0.8rem;
            color: #202039;
        }
    }

    .links {
        display: none;

        @include breakpoint(lg) {
            display: flex;
        }
    }

    .links a {
        display: block;
        font-size: 0.95rem;
        color: #202039;

        &:hover {
            transition: 100ms;
            transform: scale(1.08);
        }

        &:nth-child(2) {
            margin: 0 3.5rem;
        }
    }

    .button-container {
        display: flex;
        align-items: center;
    }

    .contact {
        padding: 0.65rem 1.6rem;
        font-size: 0.85rem;
        border-radius: .5rem;
        background-color: #2960F7;
        color: white;

        &:hover {
            transition: 100ms;
            transform: scale(1.08);
        }
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        gap: 4px;
        border: none;
        background: none;
        margin-left: 1.5rem;
        padding: 0;

        @include breakpoint(lg) {
            display: none
        }    

        .line {
            width: 1.5rem;
            height: 3px;
            background: #141424;
        }
    }

    .menu {
        display: none;
        width: 100vw;
        padding: 2.5rem 1.5rem;
        position: absolute;
        left: 0;
        z-index: 10;
        background: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

        &.hidden {
            animation: hideMenu .3s ease-out forwards;
        }

        &.visible {
            display: block;
            animation: showMenu .3s ease-out;
        }

        a {
            text-align: center;
            display: block;
            width: 100%;
            font-size: 1.1rem;
            color: #202039;

            &:nth-child(2) {
                margin: 1.5rem 0;
            }
        }
    }
}

@keyframes showMenu {
    from{top: -200%;}
    to {top: 100%;}
}

@keyframes hideMenu {
    from{top: 100%;}
    to {top: -200%; display: none;}
}