html {
  font-size: 14px;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > div {
  width: 100%;
  max-width: 1440px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.grid {
  display: grid;
  -moz-column-gap: 15px;
       column-gap: 15px;
  grid-template-columns: repeat(6, 1fr);
}
@media (min-width: 992px) {
  .grid {
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 110%;
  }
}