html {
  font-size: 18px;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > div {
  width: 100%;
  max-width: 1440px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.grid {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}